.page-404{
    height: 100%;
    width: 100%;
    background-image: url(../img/404-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    .main-title{
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .default-btn__wrap{
        position: absolute;
        top: 70vh;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}