.apply{
    &-main{
        h2{
            padding-bottom: 1.5rem;
            margin-bottom: 0;
        }
        .main-description{
            margin-bottom: 0;
        }
        .container{
            max-width: 741.5px;
        }
    }
    &-form{
        margin: 0rem 0rem 8rem 0rem;
        .inputs-col{
            input, textarea{
                padding: 0.35rem 1rem;
                width: 100%;
                font-size: 1.6rem;
            }
            textarea{
                padding-bottom: 1.2rem;
                height: 14.2rem;
            }
            &__wrap{
                background-color: $main-color;
                padding: 0.4rem 2.5rem 2.5rem 2.5rem;
    
                display: flex;
                flex-direction: column;
                margin-top: 6.2rem;
            }
            textarea{
                resize: none;
            }
            &__block{
                margin-top: 2rem;
                position: relative;
                label{
                    position: absolute;
                    left: -21rem;
                    top: 0;
                    color: $main-color;
                    font-size: 1.6rem;
                    font-family: $font-bold;
                    cursor: pointer;
                    p{
                        font-family: $font-regular;
                        font-size: 1.2rem;
                    }
                }
                input[type='file']{
                    background-color: $second-color;
                    width: auto;
                }
                .upload-btn{
                    padding-left: 4.533rem;
                    padding-right: 4.533rem;
                    padding-top: 1.4rem;
                    padding-bottom: 1.4rem;
                    border-radius: 0px;
                    font-family: $font-bold;
                }
                .form-submit-btn{
                    font-family: $font-bold;
                }
                &_white{
                    background-color: #FFF;
                    padding: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin-bottom: 0;
                        font-size: 1.2rem;
                        color: $main-color;
                        a{
                            color: $second-color;
                            font-family: $font-bold;
                        }
                    }
                    .checkbox-container{
                        margin-bottom: 0;
                        margin-right: 2.4rem;
                    }
                    label{
                        position: static;
                        width: auto;
                    }
                }
                &.textarea__block{
                    margin-top: 1.5rem;
                }
                &.textarea__under-block{
                    margin-top: 1.1rem;
                }
            }
            .form-submit-btn__container{
                margin-right: 0.65rem;
                margin-left: 0.65rem;
                margin-top: 2.5rem;
                button{
                    padding-top: 1.45rem;
                    padding-bottom: 1.45rem;
                }
            }
        }
    }
}