$main-color: #280B56;
$white: #FFF;
$second-color: #E8704D;
$light-blue: #c1ecf9;
$light-gray: #e1e7ea;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$font-regular: 'National-2 Regular', sans-serif;
$font-medium: 'National-2 Medium', sans-serif;
$font-bold: 'National-2 Bold', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.header .container{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 791px;
    margin: 0 auto;
}

html{
    font-size: 10px;
}

body{
    font-size: 100%;
    font-family: $font-regular;
}

h1{
    font-size: 3.1rem;
    color: $main-color;
    font-family: $font-bold;
    text-align: center;
    &.colored{
        color: $main-color;
    }
}

h2{
    font-size: 3.9rem;
    color: $main-color;
    font-family: $font-bold;
    text-align: center;
    &.colored{
        color: $main-color;
    }
}

.main-description{
    font-size: 1.6rem;
    font-family: $font-medium;
    text-align: center;
    color: #8c80a6;
}

button, input, select{
    outline: none !important;
}