.default-btn{
    padding: 1.6rem;
    font-size: 1.6rem;
    border: none;
    background-color: $second-color;
    text-align: center;
    color: $white;
    border-radius: 0.4rem;    
    &:hover{
        text-decoration: none;
        color: #FFF;
    }
}

