.contact-page{
    .contact{
        &-main{
            margin: 12rem 0rem 8rem 0rem;
            padding-right: 15px;
            padding-bottom: 15px;
            .container{
                max-width: 1200px;
            }
            h3{
                margin-top: 2.6rem;
            }
            .contact-phone{
                padding-bottom: 0.5rem;
                border-bottom: 3px solid #c1ecf9;
            }
            #map {
                height: 100%;
                width: 100%;
            }
            .content{
                padding-bottom: 2.4rem;
            }
        }
    }
}