.content{
    background-color: #f1f3f4;
    padding: 2.5rem 3.8rem 2.5rem 2.5rem;
    p,span,h3{
        color: $main-color;
    }
    p{
        font-size: 1.6rem;
    }
    span{
        font-size: 1.6rem;
        font-family: $font-medium;

        margin-top: 2rem;
        display: block;
    }
}