.page-fixed{
    height: 100%;
    width: 100%;
    background-image: url(../img/404-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    .thanks-main__center-block{
        margin-top: 29.8rem;
    }
    .main-description{
        margin-top: 1.5rem;
    }
    .default-btn__wrap{
        margin-top: 6rem;
        justify-content: center;
        a{
            font-family: $font-bold;
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
            padding-left: 3.275rem;
            padding-right: 3.275rem;
        }
    }
}

.thanks-page{
    background-image: url(../img/thanks-bg.png);
    background-position-y: bottom;
}