.join-our-team-page .header-main{
    background: url('../img/join-our-team.png');
}

.join-our-team-page{
    .search{
        h2{
            margin: 8.2rem 0rem 4.3rem 0rem;
        }
        &-wrap{
            margin-bottom: 4rem;
        }
    }
}

.select-team{
    margin-bottom: 4rem;
    &__wrap{
        padding: 2.5rem 1.3rem 2.5rem 2.5rem;
        background-color: $main-color;
        display: flex;
        flex-direction: row;
        button{
            white-space: nowrap;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
    &__select-input{
        display: block;
        width: 100%;
        padding: 1.375rem 1.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: $main-color;
        font-family: $font-medium;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .55rem;
        margin-right: 2.8rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        cursor: pointer;

        background: url(../img/arrow-down.svg) no-repeat right #fff;
        -webkit-appearance: none;
        background-position-x: 94%;
        option{
            font-size: 1.6rem;
            cursor: pointer;
        }
    }
}

.join-team-cards{
    margin-bottom: 6rem;
    .card{
        border: none;
        margin-bottom: 2.4rem;
        &:nth-child(odd) {
            padding-right: 1.2rem;
        }
        &:nth-child(even) {
            padding-left: 1.2rem;
        }
        &__inner{
            box-shadow: 0.1rem 0.1rem 0.9rem #e5e5e5;
            background-color: #f1f3f4;
            padding: 2.6rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            &-title{
                font-size: 2.5rem;
                color: $main-color;
                font-family: $font-bold;
                margin-bottom: 3.5rem;
                display: block;
            }
            &-tags{
                font-size: 1.6rem;
                color: #8c80a6;
                font-family: $font-medium;
                line-height: 2rem;
                margin-top: auto;
            }
            a{
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
                border: solid 0.1rem $second-color;
                background-color: transparent;
                transition: 0.2s ease-in-out;
                color: $second-color;
                text-decoration: none;
                &:hover{
                    color: $white;
                    background-color: $second-color;
                }
            }
        }
    }
}