

@media screen and (max-width: 991px){
    html{
        font-size: 9px;
    }
    .apply{
        &-form{
            .inputs-col{
                &__wrap{
                    label{
                        position: static;
                        color: $white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .footer__email-link{
        margin-left: 0;
    }
    .footer{
        padding: 3.25rem 0rem;
        &-col{
            padding-left: 15px !important;
            margin-bottom: 2rem;
            &:first-child{
                display: flex;
                flex-direction: column;
                order: 2;
                margin-bottom: 0;
                ul{
                    display: flex;
                    flex-direction: column;  
                    order: -1;
                    li{
                        &:nth-child(1){
                            margin-left: 0;
                        }
                    }
                }
            }
            &:nth-child(2){
                order: -1;
                justify-content: flex-start;
            }
            &:last-child{
                display: flex;
                flex-direction: column;
                order: 1;
            }
        }
        &__menu{
            flex-direction: column;
            align-items: flex-start !important;
            li{
                margin-bottom: 2rem;
                a{
                    &:first-child{
                        margin-left: 0;
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__social-menu{
            a{
                &:last-child{
                    margin-left: 0;
                }
            }
            img{
                width: 3rem;
            }
        }
        .footer__email-link, .footer__copyright-span{
            a{
                margin-left: 0;
            }
            margin-top: 2rem;
        }
    }
    .page-fixed{
        position: relative;
        height: 100%;
        .thanks-main__center-block{
            position: static;
            transform: translate(0);
            margin-top: 14rem;
        }
        .default-btn__wrap{
            margin-top: 6rem;
            margin-bottom: 8rem;
        }
        .main-404{
            padding-bottom: 7rem;
        }
    }
    .reasons-to-work__wrap{
        flex-wrap: wrap;
        &-block{
            flex: 1 0 100%;
            img{
                margin-left: 0;
            }
        }
    }
    .burger-menu{
        position: fixed;
        right: 2.7rem;
        top: calc(100vh - 9rem);
    }
    .header-menu{
        position: fixed;
        top: calc(100vh - 27rem);
        right: -10rem;
        z-index: 111;
        transform: translate(0);
        transition: 0.4s ease-in-out;
        &.active{
            top: calc(100vh - 27rem);
            right: 3rem;
        }
    }
    .header-language-switcher{
        padding-right: 3rem;
    }
    .contact-main{
        margin: 5rem 0rem 5rem 0rem !important;
        iframe{
            height: 35rem !important;
        }
    }
    .privacy-page{
        h2{
            padding: 5rem 0rem 3.5rem 0rem;
        }
        .content{
            padding-bottom: 4rem;
            margin-bottom: 5rem;
        }
    }
}

@media screen and (max-width: 568px){
    html{
        font-size: 10px;
    }
    .reasons-to-work__wrap{
        &-block{
            justify-content: center;
            text-align: center;
        }
    }
    .select-team__wrap{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        select{
            margin-bottom: 2rem;
        }
    }
    .header .container{
        padding: 0;
    }
}