.top-bar{
    padding: 1.6rem 0rem;
    position: relative;
    overflow: hidden;
    &-logo-img{
        max-width: 16.6rem;
        height: auto;
    }
    &-col{
        display: flex;
        align-items: center;
        &:nth-child(1){
            justify-content: flex-start;
        }
        &:nth-child(2){
            justify-content: center;
        }
        &:nth-child(3){
            justify-content: flex-end;
        }
    }
}