.vacancy-page{
    .main-title{
        margin-top: 12.3rem;
        margin-bottom: 1.5rem;
        display: block;
    }
    .main-description{
        margin-bottom: 4rem;
        font-family: $font-bold;
    }
    .vacancy-cards{
        padding: 4.3rem 0rem 8rem 0rem;
    }
    .content{
        a{
            margin-top: 3.8rem;
            display: flex;
            padding: 1.45rem 5rem;
            font-family: $font-bold;
            &:hover{
                text-decoration: none;
                color: $white;
            }
        }
        p,h3,span{
            line-height: 1.3;
        }
        &-tel{
            font-family: $font-regular !important;
        }
        .submit-privacy-button__container_fixed{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255,255,255,0.9);
            padding: 1.4rem;
            z-index: 1;
            a{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                margin-top: 0rem;
            }
            &.active{
                display: none !important;
            }
        }
    }
    .vacancy-cards{
        .card{
            border: none;
            &:nth-child(1){
                padding-right: 2.15rem;
            }
            &:nth-child(2){
                padding-left: 2.15rem;
                .card__inner-desc{
                    margin-bottom: 0.7rem;
                }
            }
            .card__inner{
                padding: 3.4rem 2.7rem 2.5rem 2.7rem;
                background-color: $main-color;
                color: $white;
                height: 100%;
                &-top-text{
                    font-size: 2.5rem;
                    font-weight: 100;
                    display: block;
                }
                .default-btn{
                    padding-top: 1.4rem;
                    padding-bottom: 1.4rem;
                    font-family: $font-bold;
                }
                &-title{
                    display: block;
                    font-size: 2.5rem;
                    font-family: $font-bold;
                    padding-bottom: 1.6rem;
                    padding-top: 1.75rem;
                }
                &-desc{
                    font-size: 1.6rem;
                    padding-bottom: 6.95rem;
                    width: 100%;
                }
                .default-btn{
                    width: 100%;
                    display: block;
                }
                .human-image{
                    margin: 0 auto;
                    display: block;
                    max-width: 12.5rem;
                    height: auto;
                    margin-bottom: 4.5rem;
                }
                &.card__contact{
                    text-align: center;
                    p,span{
                        padding: 0;
                    }
                }
                .phone-link{
                    font-size: 1.6rem;
                    color: $white;
                    text-decoration: none;
                    border-bottom: 3px solid #c1ecf9;
                    padding-bottom: 1.5px;
                    margin-bottom: 2.3rem;
                }
                &-socials{
                    a{
                        margin: 0rem 1.2rem;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}