@media screen and (max-width: 991px) {
  html {
    font-size: 9px; } }

@media screen and (max-width: 768px) {
  .reasons-to-work__wrap {
    flex-wrap: wrap; }
    .reasons-to-work__wrap-block {
      flex: 1 0 100%; }
      .reasons-to-work__wrap-block img {
        margin-left: 0; }
  .burger-menu {
    position: fixed;
    right: 2.7rem;
    top: calc(100vh - 9rem); }
  .header-menu {
    position: fixed;
    top: calc(100vh - 27rem);
    right: -10rem;
    z-index: 111;
    transform: translate(0);
    transition: 0.4s ease-in-out; }
    .header-menu.active {
      top: calc(100vh - 27rem);
      right: 3rem; }
  .header-language-switcher {
    padding-right: 3rem; }
  .contact-main {
    margin: 5rem 0rem 5rem 0rem !important; }
    .contact-main iframe {
      height: 35rem !important; } }

@media screen and (max-width: 568px) {
  .reasons-to-work__wrap-block {
    justify-content: center;
    text-align: center; }
  .select-team__wrap {
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .select-team__wrap select {
      margin-bottom: 2rem; }
  .header .container {
    padding: 0; }
  .footer {
    padding: 3.25rem 0rem; }
    .footer-col {
      padding-left: 15px !important;
      margin-bottom: 2rem; }
      .footer-col:first-child {
        display: flex;
        flex-direction: column;
        order: 2;
        margin-bottom: 0; }
        .footer-col:first-child ul {
          display: flex;
          flex-direction: column;
          order: -1; }
          .footer-col:first-child ul li:nth-child(1) {
            margin-left: 0; }
      .footer-col:nth-child(2) {
        order: -1;
        justify-content: flex-start; }
      .footer-col:last-child {
        display: flex;
        flex-direction: column;
        order: 1; }
    .footer__menu {
      flex-direction: column;
      align-items: flex-start !important; }
      .footer__menu li {
        margin-bottom: 2rem; }
        .footer__menu li a:first-child {
          margin-left: 0; }
        .footer__menu li:last-child {
          margin-bottom: 0; }
    .footer__social-menu a:last-child {
      margin-left: 0; }
    .footer__social-menu img {
      width: 3rem; }
    .footer .footer__email-link, .footer .footer__copyright-span {
      margin-top: 2rem; }
      .footer .footer__email-link a, .footer .footer__copyright-span a {
        margin-left: 0; } }
