@font-face {
  font-family: 'National-2 Regular';
  src: url("../fonts/National2-Regular.woff") format("woff"); }

@font-face {
  font-family: 'National-2 Bold';
  src: url("../fonts/National2-Bold.woff") format("woff"); }

@font-face {
  font-family: 'National-2 Medium';
  src: url("../fonts/National2-Medium.woff") format("woff"); }

* {
  margin: 0;
  padding: 0;
  font-weight: 400; }

.header .container {
  max-width: 1229px;
  margin: 0 auto; }

.container {
  max-width: 821px;
  margin: 0 auto; }

html {
  font-size: 10px;
  height: 100%; }

body {
  font-size: 100%;
  height: 100%;
  font-family: "National-2 Regular", sans-serif;
  display: flex;
  flex-direction: column; }

footer {
  margin-top: auto; }

h1 {
  font-size: 3.1rem;
  color: #280B56;
  font-family: "National-2 Bold", sans-serif;
  text-align: center;
  line-height: 1.1; }
  h1.colored {
    color: #280B56; }

h2 {
  font-size: 3.9rem;
  color: #280B56;
  font-family: "National-2 Bold", sans-serif;
  text-align: center;
  margin-bottom: 0; }
  h2.colored {
    color: #280B56; }

.main-description {
  font-size: 1.6rem;
  font-family: "National-2 Medium", sans-serif;
  text-align: center;
  color: #8c80a6; }

button, input, select, textarea {
  outline: none !important; }

@font-face {
  font-family: 'National-2 Regular';
  src: url("../fonts/National2-Regular.woff") format("woff"); }

@font-face {
  font-family: 'National-2 Bold';
  src: url("../fonts/National2-Bold.woff") format("woff"); }

@font-face {
  font-family: 'National-2 Medium';
  src: url("../fonts/National2-Medium.woff") format("woff"); }

.top-bar {
  padding: 1.6rem 0rem;
  position: relative;
  overflow: hidden; }
  .top-bar-logo-img {
    max-width: 16.6rem;
    height: auto; }
  .top-bar-col {
    display: flex;
    align-items: center; }
    .top-bar-col:nth-child(1) {
      justify-content: flex-start; }
    .top-bar-col:nth-child(2) {
      justify-content: center; }
    .top-bar-col:nth-child(3) {
      justify-content: flex-end; }

.burger-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  z-index: 11;
  cursor: pointer;
  border: none;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 50%;
  transition: 1s;
  opacity: 1;
  transition: 0.2s ease-in-out;
  background-color: #280B56; }
  .burger-menu span {
    transition: all 0.3s ease-in-out;
    margin-top: -0.9rem;
    z-index: 111; }
    .burger-menu span:nth-child(1) {
      top: 0em; }
    .burger-menu span:nth-child(2) {
      top: 0.9rem; }
    .burger-menu span:nth-child(3) {
      top: 1.8rem; }
  .burger-menu.active {
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    .burger-menu.active span:nth-child(1) {
      top: 0.85rem;
      animation: top-span 0.15s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 0.25s;
      background-color: #FFF;
      left: 0 !important; }
    .burger-menu.active span:nth-child(2) {
      height: 0;
      top: 0.85rem; }
    .burger-menu.active span:nth-child(3) {
      top: 0.85rem;
      animation: bottom-span 0.15s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 0.25s;
      background-color: #FFF; }
  .burger-menu__inner {
    position: absolute;
    left: 25%; }

.burger-menu span {
  position: absolute;
  top: 0;
  content: '';
  width: 3.6rem;
  height: 0.15rem;
  border-radius: 0.1rem;
  background-color: #FFF; }

@keyframes top-span {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes bottom-span {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }

.header-menu {
  position: fixed;
  top: 7.5rem;
  margin-left: -9.7rem;
  transition: 0.6s ease-in-out;
  height: 0;
  transform: translateY(-200%);
  opacity: 0; }
  .header-menu__container {
    display: flex;
    position: fixed;
    z-index: 2; }
    .header-menu__container ul {
      list-style-type: none;
      flex-direction: column;
      display: flex;
      margin-top: 0.8rem; }
      .header-menu__container ul li {
        margin-bottom: 0.4rem;
        margin-left: auto;
        display: flex; }
        .header-menu__container ul li a {
          padding: 1.5rem;
          background: #280B56;
          color: #FFF;
          font-family: "National-2 Bold", sans-serif;
          font-size: 1.6rem;
          white-space: nowrap;
          border-radius: 0.3rem; }
  .header-menu.active {
    opacity: 1;
    height: auto;
    transform: translateY(0%); }

.header__wrap {
  position: relative; }

.header-language-switcher {
  padding-right: 13.5rem; }
  .header-language-switcher button {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: #280B56;
    margin-right: 0.7rem;
    margin-left: 0.3rem;
    position: relative;
    line-height: 1.15; }
    .header-language-switcher button.active {
      font-family: "National-2 Bold", sans-serif;
      border-bottom: 0.3rem solid #c1ecf9; }
      .header-language-switcher button.active:after {
        content: '';
        right: -0.7rem;
        top: 0;
        height: 80%;
        top: 57%;
        transform: translateY(-50%);
        width: 0.15rem;
        background: #280B56;
        position: absolute; }

.header-main {
  padding-bottom: 40rem;
  background-size: cover !important;
  background-position: center !important; }

.header_fixed {
  position: absolute;
  width: 100%; }

.footer {
  background-color: #f6f7f8;
  padding: 2.5rem 0rem; }
  .footer .container {
    max-width: 838px; }
  .footer-col {
    font-size: 1.6rem;
    color: #767676;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start; }
    .footer-col a {
      font-size: 1.6rem;
      color: #767676; }
    .footer-col ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 0; }
    .footer-col:nth-child(1) {
      justify-content: flex-start;
      padding-right: 2.3rem; }
    .footer-col:nth-child(2) {
      justify-content: center; }
    .footer-col:nth-child(3) {
      justify-content: space-between;
      padding-left: 2.2rem; }
  .footer-logo-img {
    max-width: 9.4rem;
    height: auto; }
  .footer__copyright-span, .footer__email-link {
    margin-top: 0.15rem;
    white-space: nowrap; }
  .footer__email-link {
    margin-left: 3.7rem; }
  .footer__menu {
    margin-top: 0.15rem; }
    .footer__menu a {
      margin: 0rem 0rem 0rem 2.05rem; }
    .footer__menu li:nth-child(1) a {
      margin-left: 3.6rem; }
  .footer__social-menu {
    margin-top: 0.15rem; }
    .footer__social-menu ul {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .footer__social-menu li {
      margin-left: 2.2rem; }
      .footer__social-menu li:first-child {
        margin-left: 0; }

.default-btn {
  padding: 1.6rem;
  font-size: 1.6rem;
  border: none;
  background-color: #E8704D;
  text-align: center;
  color: #FFF;
  border-radius: 0.4rem; }
  .default-btn:hover {
    text-decoration: none;
    color: #FFF; }

.home-video {
  margin-top: 1.75rem; }

.home-page .header-main {
  background: url("../img/personal.png"); }

.reasons-to-work {
  margin-bottom: 9rem; }
  .reasons-to-work__wrap {
    display: flex;
    flex-direction: row; }
    .reasons-to-work__wrap-block {
      flex: 1 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      color: #280B56;
      padding-right: 2.4rem; }
      .reasons-to-work__wrap-block img {
        margin-bottom: 2.5rem;
        margin-left: -3.5rem; }
      .reasons-to-work__wrap-block span {
        font-family: "National-2 Bold", sans-serif;
        font-size: 1.6rem; }
      .reasons-to-work__wrap-block p {
        font-size: 1.6rem; }
      .reasons-to-work__wrap-block:last-child {
        padding-right: 0; }
      .reasons-to-work__wrap-block > div {
        flex-direction: column; }
  .reasons-to-work h1 {
    padding: 6rem 0rem 1.5rem 0rem; }

.join-our-team-page .header-main {
  background: url("../img/join-our-team.png"); }

.join-our-team-page .search h2 {
  margin: 8.2rem 0rem 4.3rem 0rem; }

.join-our-team-page .search-wrap {
  margin-bottom: 4rem; }

.select-team {
  margin-bottom: 4rem; }
  .select-team__wrap {
    padding: 2.5rem 1.3rem 2.5rem 2.5rem;
    background-color: #280B56;
    display: flex;
    flex-direction: row; }
    .select-team__wrap button {
      white-space: nowrap;
      padding-left: 4rem;
      padding-right: 4rem; }
  .select-team__select-input {
    display: block;
    width: 100%;
    padding: 1.375rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #280B56;
    font-family: "National-2 Medium", sans-serif;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .55rem;
    margin-right: 2.8rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    background: url(../img/arrow-down.svg) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 94%; }
    .select-team__select-input option {
      font-size: 1.6rem;
      cursor: pointer; }

.join-team-cards {
  margin-bottom: 6rem; }
  .join-team-cards .card {
    border: none;
    margin-bottom: 2.4rem; }
    .join-team-cards .card:nth-child(odd) {
      padding-right: 1.2rem; }
    .join-team-cards .card:nth-child(even) {
      padding-left: 1.2rem; }
    .join-team-cards .card__inner {
      box-shadow: 0.1rem 0.1rem 0.9rem #e5e5e5;
      background-color: #f1f3f4;
      padding: 2.6rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .join-team-cards .card__inner-title {
        font-size: 2.5rem;
        color: #280B56;
        font-family: "National-2 Bold", sans-serif;
        margin-bottom: 3.5rem;
        display: block; }
      .join-team-cards .card__inner-tags {
        font-size: 1.6rem;
        color: #8c80a6;
        font-family: "National-2 Medium", sans-serif;
        line-height: 2rem;
        margin-top: auto; }
      .join-team-cards .card__inner a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border: solid 0.1rem #E8704D;
        background-color: transparent;
        transition: 0.2s ease-in-out;
        color: #E8704D;
        text-decoration: none; }
        .join-team-cards .card__inner a:hover {
          color: #FFF;
          background-color: #E8704D; }

.search form {
  position: relative; }

.search-wrap {
  border: 0.1rem solid #280b56;
  background-color: #f1f3f4;
  display: flex;
  align-items: center;
  margin-bottom: -0.5px;
  position: relative; }
  .search-wrap button {
    padding: 1.5rem 1.5rem 1.5rem 2.9rem;
    border: none;
    background-color: transparent; }
  .search-wrap input {
    font-size: 1.6rem;
    font-family: "National-2 Bold", sans-serif;
    background-color: transparent;
    border: none;
    color: #8c80a6;
    width: 100%; }
    .search-wrap input::placeholder {
      color: #8c80a6; }
  .search-wrap__close-btn {
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "National-2 Bold", sans-serif; }

.search-menu {
  padding-left: 0;
  list-style-type: none;
  display: none;
  position: absolute;
  top: 5.85rem;
  left: 0;
  width: 100%;
  z-index: 11; }
  .search-menu li {
    background-color: #f1f3f4;
    font-size: 1.6rem; }
  .search-menu__link {
    border: 0.1rem solid #280b56;
    padding: 1.5rem 0rem 1.5rem 4.5rem !important;
    font-size: 1.6rem;
    padding-left: 2.5rem;
    text-decoration: none;
    color: #280B56;
    font-family: "National-2 Medium", sans-serif;
    display: block; }
    .search-menu__link:hover {
      text-decoration: none;
      color: #FFF;
      background-color: #E8704D; }
    .search-menu__link_disabled {
      color: #767676;
      padding: 1.5rem 0rem 1.5rem 1.5rem !important;
      cursor: default; }
      .search-menu__link_disabled:hover {
        color: #767676;
        background-color: #f1f3f4; }
  .search-menu.active {
    display: block; }

.banner-inner {
  background-color: #280B56;
  color: #FFF;
  padding: 3.4rem 3.6rem 3.1rem 3.7rem; }
  .banner-inner h2 {
    font-size: 3.9rem;
    font-family: "National-2 Bold", sans-serif;
    padding-bottom: 2.3rem;
    color: #FFF;
    text-align: left; }
  .banner-inner p {
    font-size: 1.6rem;
    font-family: "National-2 Regular", sans-serif;
    margin-bottom: 0; }
  .banner-inner .default-btn {
    margin-top: 3.1rem;
    font-family: "National-2 Bold", sans-serif; }

.overlay-header-banner {
  position: relative;
  top: -4.25rem;
  z-index: 1; }

.join-our-team-banner {
  margin-bottom: 8rem;
  text-align: left; }
  .join-our-team-banner .banner-inner {
    padding: 4.1rem 3.6rem 4rem 3.7rem; }
  .join-our-team-banner h2 {
    padding-bottom: 1.6rem;
    margin-bottom: 0; }
  .join-our-team-banner p {
    margin-bottom: 0; }

.footer-banner .banner-inner {
  padding: 4rem 0rem; }

.footer-banner h2 {
  font-size: 3.1rem;
  text-align: center;
  padding-bottom: 0; }

.footer-banner a.default-btn {
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  margin-top: 1.5rem;
  color: #FFF;
  text-decoration: none; }

.vacancy-page .main-title {
  margin-top: 13rem;
  margin-bottom: 1.5rem;
  display: block; }

.vacancy-page .main-description {
  margin-bottom: 4rem; }

.vacancy-page .vacancy-cards {
  padding: 4.3rem 0rem 8rem 0rem; }

.vacancy-page .content a {
  margin-top: 7.5rem;
  display: flex;
  padding: 1.2rem 5rem; }
  .vacancy-page .content a:hover {
    text-decoration: none;
    color: #FFF; }

.vacancy-page .vacancy-cards .card {
  border: none; }
  .vacancy-page .vacancy-cards .card:nth-child(1) {
    padding-right: 2.15rem; }
  .vacancy-page .vacancy-cards .card:nth-child(2) {
    padding-left: 2.15rem; }
  .vacancy-page .vacancy-cards .card .card__inner {
    padding: 3.4rem 3rem 2.5rem 3rem;
    background-color: #280B56;
    color: #FFF;
    height: 100%; }
    .vacancy-page .vacancy-cards .card .card__inner-top-text {
      font-size: 2.5rem;
      font-weight: 100;
      display: block; }
    .vacancy-page .vacancy-cards .card .card__inner-title {
      display: block;
      font-size: 2.5rem;
      font-family: "National-2 Medium", sans-serif;
      padding-bottom: 1.6rem;
      padding-top: 1.75rem; }
    .vacancy-page .vacancy-cards .card .card__inner-desc {
      font-size: 1.6rem;
      padding-bottom: 8rem;
      width: 100%; }
    .vacancy-page .vacancy-cards .card .card__inner .default-btn {
      width: 100%;
      display: block; }
    .vacancy-page .vacancy-cards .card .card__inner .human-image {
      margin: 0 auto;
      display: block;
      max-width: 12.5rem;
      height: auto;
      margin-bottom: 4.5rem; }
    .vacancy-page .vacancy-cards .card .card__inner.card__contact {
      text-align: center; }
      .vacancy-page .vacancy-cards .card .card__inner.card__contact p, .vacancy-page .vacancy-cards .card .card__inner.card__contact span {
        padding: 0; }
    .vacancy-page .vacancy-cards .card .card__inner .phone-link {
      font-size: 1.6rem;
      color: #FFF;
      text-decoration: none;
      border-bottom: 3px solid #c1ecf9;
      padding-bottom: 1.5px;
      margin-bottom: 3rem; }
    .vacancy-page .vacancy-cards .card .card__inner-socials a {
      margin: 0rem 1.2rem; }
      .vacancy-page .vacancy-cards .card .card__inner-socials a:hover {
        text-decoration: none; }

.content {
  background-color: #f1f3f4;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem; }
  .content p, .content span, .content h3 {
    color: #280B56; }
  .content p {
    font-size: 1.6rem; }
  .content a {
    font-family: "National-2 Bold", sans-serif;
    font-size: 1.6rem;
    color: #280B56; }
  .content h3 {
    font-size: 2.5rem;
    font-family: "National-2 Bold", sans-serif; }
  .content span {
    font-size: 1.6rem;
    font-family: "National-2 Bold", sans-serif;
    margin-top: 2rem;
    display: block; }
  .content .default-btn {
    color: #FFF;
    font-family: "National-2 Regular", sans-serif; }

.contact-page .contact-main {
  margin: 12rem 0rem 8rem 0rem; }
  .contact-page .contact-main .container {
    max-width: 1280px; }
  .contact-page .contact-main h3 {
    margin-top: 4rem; }
  .contact-page .contact-main .contact-phone {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #c1ecf9; }
  .contact-page .contact-main #map {
    height: 100%;
    width: 100%; }
  .contact-page .contact-main .content {
    padding-bottom: 3rem; }

.privacy-page h2 {
  padding: 12.2rem 0rem 3.5rem 0rem; }

.privacy-page .content {
  padding-bottom: 24rem;
  margin-bottom: 8rem;
  padding-left: 3rem;
  padding-right: 3rem; }
  .privacy-page .content span, .privacy-page .content p {
    margin-bottom: 1.7rem; }

.apply-main h2 {
  padding-bottom: 1.5rem;
  margin-bottom: 0; }

.apply-main .main-description {
  margin-bottom: 0; }

.apply-form {
  margin: 0rem 0rem 8rem 0rem; }
  .apply-form .inputs-col input, .apply-form .inputs-col textarea {
    padding: 1rem;
    width: 100%; }
  .apply-form .inputs-col__wrap {
    background-color: #280B56;
    padding: 0rem 2.5rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem; }
  .apply-form .inputs-col textarea {
    resize: none; }
  .apply-form .inputs-col__block {
    margin-top: 2.5rem;
    position: relative; }
    .apply-form .inputs-col__block label {
      position: absolute;
      left: -26rem;
      top: 0;
      color: #280B56;
      font-size: 1.6rem;
      font-family: "National-2 Bold", sans-serif;
      cursor: pointer; }
      .apply-form .inputs-col__block label p {
        font-family: "National-2 Regular", sans-serif; }
    .apply-form .inputs-col__block input[type='file'] {
      background-color: #E8704D;
      width: auto; }
    .apply-form .inputs-col__block .upload-btn {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
      border-radius: 0px; }
    .apply-form .inputs-col__block_white {
      background-color: #FFF;
      padding: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .apply-form .inputs-col__block_white p {
        margin-bottom: 0;
        font-size: 1.2rem;
        color: #280B56; }
        .apply-form .inputs-col__block_white p a {
          color: #E8704D;
          font-family: "National-2 Bold", sans-serif; }
      .apply-form .inputs-col__block_white .checkbox-container {
        margin-bottom: 0;
        margin-right: 2.4rem; }
      .apply-form .inputs-col__block_white label {
        position: static;
        width: auto; }
    .apply-form .inputs-col__block.textarea__block {
      margin-top: 1.4rem; }
    .apply-form .inputs-col__block.textarea__under-block {
      margin-top: 1.1rem; }

.checkbox-container {
  position: relative;
  display: flex;
  cursor: pointer; }

.checkmark {
  position: relative;
  left: 0;
  height: 2.6rem;
  width: 2.6rem;
  background-color: transparent;
  background-color: #FFF;
  transition: 0.05s ease-in-out;
  cursor: pointer;
  z-index: 111;
  border: 2px solid #280B56;
  flex-shrink: 0; }

.checkbox-container input {
  display: none; }

/* On mouse-over, add a grey background color
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ff4a49;
  } */
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute; }

/* Show the checkmark when checked */
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  width: 1.525em;
  height: 1.525em;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 1.4rem 1rem;
  left: 50%;
  margin-left: -0.7rem;
  margin-top: -0.5rem;
  top: 50%;
  opacity: 0; }

.checkbox-container input:checked ~ .checkmark:after {
  opacity: 1; }

.checkbox-container input:checked ~ .checkmark {
  background-color: #280B56; }

.page-fixed {
  height: 100%;
  width: 100%;
  background-image: url(../img/404-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; }
  .page-fixed .thanks-main__center-block {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%); }
  .page-fixed .main-description {
    margin-top: 1.5rem; }
  .page-fixed .default-btn__wrap {
    margin-top: 6rem;
    justify-content: center; }

.apply-main .main-title {
  margin-top: 12.2rem; }

@media screen and (max-width: 991px) {
  html {
    font-size: 9px; }
  .apply-form .inputs-col__wrap label {
    position: static;
    color: #FFF; } }

@media screen and (max-width: 768px) {
  .page-fixed {
    position: relative;
    height: 100%; }
    .page-fixed .thanks-main__center-block {
      position: static;
      transform: translate(0);
      margin-top: 14rem; }
    .page-fixed .default-btn__wrap {
      margin-top: 6rem;
      margin-bottom: 8rem; }
    .page-fixed .main-404 {
      padding-bottom: 7rem; }
  .reasons-to-work__wrap {
    flex-wrap: wrap; }
    .reasons-to-work__wrap-block {
      flex: 1 0 100%; }
      .reasons-to-work__wrap-block img {
        margin-left: 0; }
  .burger-menu {
    position: fixed;
    right: 2.7rem;
    top: calc(100vh - 9rem); }
  .header-menu {
    position: fixed;
    top: calc(100vh - 27rem);
    right: -10rem;
    z-index: 111;
    transform: translate(0);
    transition: 0.4s ease-in-out; }
    .header-menu.active {
      top: calc(100vh - 27rem);
      right: 3rem; }
  .header-language-switcher {
    padding-right: 3rem; }
  .contact-main {
    margin: 5rem 0rem 5rem 0rem !important; }
    .contact-main iframe {
      height: 35rem !important; }
  .privacy-page h2 {
    padding: 5rem 0rem 3.5rem 0rem; }
  .privacy-page .content {
    padding-bottom: 4rem;
    margin-bottom: 5rem; } }

@media screen and (max-width: 568px) {
  html {
    font-size: 10px; }
  .reasons-to-work__wrap-block {
    justify-content: center;
    text-align: center; }
  .select-team__wrap {
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .select-team__wrap select {
      margin-bottom: 2rem; }
  .header .container {
    padding: 0; }
  .footer {
    padding: 3.25rem 0rem; }
    .footer-col {
      padding-left: 15px !important;
      margin-bottom: 2rem; }
      .footer-col:first-child {
        display: flex;
        flex-direction: column;
        order: 2;
        margin-bottom: 0; }
        .footer-col:first-child ul {
          display: flex;
          flex-direction: column;
          order: -1; }
          .footer-col:first-child ul li:nth-child(1) {
            margin-left: 0; }
      .footer-col:nth-child(2) {
        order: -1;
        justify-content: flex-start; }
      .footer-col:last-child {
        display: flex;
        flex-direction: column;
        order: 1; }
    .footer__menu {
      flex-direction: column;
      align-items: flex-start !important; }
      .footer__menu li {
        margin-bottom: 2rem; }
        .footer__menu li a:first-child {
          margin-left: 0; }
        .footer__menu li:last-child {
          margin-bottom: 0; }
    .footer__social-menu a:last-child {
      margin-left: 0; }
    .footer__social-menu img {
      width: 3rem; }
    .footer .footer__email-link, .footer .footer__copyright-span {
      margin-top: 2rem; }
      .footer .footer__email-link a, .footer .footer__copyright-span a {
        margin-left: 0; } }
